* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

#card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e9ecef;
    width: 400px;
    border-radius: 10px;
    border: 2px solid black;
}

#nameAndId {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

#nameAndId {
    display: flex;
    justify-content: center;
}

#couple{
    display: flex;
}

#couple h3{
    margin-left: 10px;
}

#namePokemon {
    text-transform: capitalize;
}

#shinyButton img {
    height: 50px;
    cursor: pointer;
}

#shiny{
    position: relative;
    left: 50px;
    border-radius: 50px;
}

#imgPokemon {
    position: relative;
    left: 50px;
    height: 200px;
    width: 200px;
}

header #type {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

header #firstType {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    background-color: #78C850;
}

header #secondType {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    background-color: #A040A0;
}

#headerHr {
    margin-top: 20px;
    width: 300px;

}

section {
    margin-top: 12px;
    margin-bottom: 12px;
}

input[type="range"] {
    width: 250px;

}

#HP {
    height: 10px;
    width: 45%;
    border-radius: 3px;
    background-color: #2ecc71;
}

#Attack {
    height: 10px;
    width: 49%;
    border-radius: 3px;
    background-color: #e74c3c;
}

#Defense {
    height: 10px;
    width: 49%;
    border-radius: 3px;
    background-color: #3498db;
}

#Speed {
    height: 10px;
    width: 49%;
    border-radius: 3px;
    background-color: #f1c40f;
}

#life,
#power,
#defence,
#movementSpeed {
    margin-top: 10px;
}

#bar {
    position: relative;
    height: 10px;
    width: 250px;
    border-radius: 3px;
    background-color: #ced4da;
}

footer hr {
    width: 300px;
    margin-bottom: 10px;
}

footer input {
    margin-top: 10px;
    width: 280px;
    height: 50px;
    font-size: 16px;
}

#PrevNext {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#PrevNext button {
    width: 70px;
    height: 35px;
    margin-bottom: 5px;
}